parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$args of function wp_dropdown_pages expects array\{depth\?\: int, child_of\?\: int, selected\?\: int\|string, echo\?\: bool\|int, name\?\: string, id\?\: string, class\?\: string, show_option_none\?\: string, \.\.\.\}, array\{name\: ''ctp_settings\[detail…'', selected\: int, show_option_none\: string, option_none_value\: ''0'', post_status\: ''publish'', exclude\: string\} given\.$#'
			identifier: argument.type
			count: 1
			path: includes/Admin/SettingsPage.php

		-
			message: '#^PHPDoc tag @var with type callable\(array\<string\>\)\: array\<string\> is not subtype of native type static\-Closure\(array\)\: list\<mixed\>\.$#'
			identifier: varTag.nativeType
			count: 2
			path: includes/Frontend/templates/partials/event-detail-content.php

		-
			message: '#^PHPDoc tag @var with type callable\(array\<string\>\)\: void is not subtype of native type static\-Closure\(array\)\: void\.$#'
			identifier: varTag.nativeType
			count: 1
			path: includes/Frontend/templates/partials/event-detail-content.php
